################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/2e1713b6-b0c6-4c78-92a8-3a4169afab90.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/40c763a9-46da-459f-a915-5e0a10a08f06.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/79844ce7-7ad2-40a6-9e00-a48714ed6deb.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/8e195357-ff63-485c-b02a-6b7373e836a1.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/ca44ab33-f7a1-47bd-9fbb-5e0019946ef7.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/1b2cd088-2bdf-4a08-8cd0-9f88b28814fe.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/22230bbe-a3e9-4987-b5fe-a09fb361ec9c.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/3a759d34-e89b-4eb0-9c55-ab5f941bea3c.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/4cd5a5a1-74bf-4cd2-9c16-cfff4c401005.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/d3da5b4d-7e11-404b-a862-256587e09a4f.vsidx
/NorthwindBackend/.vs/NorthwindBackend/v17/.suo
/NorthwindBackend/.vs/NorthwindBackend/v17/TestStore/0/000.testlog
/NorthwindBackend/NorthwindBackend/obj/Debug/net7.0/NorthwindBackend.GeneratedMSBuildEditorConfig.editorconfig
