################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/2e1713b6-b0c6-4c78-92a8-3a4169afab90.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/40c763a9-46da-459f-a915-5e0a10a08f06.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/79844ce7-7ad2-40a6-9e00-a48714ed6deb.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/8e195357-ff63-485c-b02a-6b7373e836a1.vsidx
/NorthwindBackend/.vs/NorthwindBackend/FileContentIndex/ca44ab33-f7a1-47bd-9fbb-5e0019946ef7.vsidx
